{% extends "layout.html" %}

{% block content %}
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        <h3>Register</h3>
        <form method="POST" class="m-3">
            {% csrf_token %}
            <div class="form-group text-start" style="font-size: 15px;">
                {{ form.as_p }}
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <h5>Already have an account?
        <a href="{% url 'login' %}">Login Here</a></h5>
    </div>
</div>
{% endblock %}
